<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить книгу</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/new}" th:object="${book}">
    <label for="isbn">ISBN: </label>
    <input id="isbn" type="number" th:field="*{isbn}"><br>
    <div style="color:red" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</div>

    <label for="title">Название книги: </label>
    <input id="title" type="text" th:field="*{title}"><br>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</div>

    <!--    Author-->
    <label for="author">Автор: </label>
    <select th:field="${book.author.id}" id="author">
        <option th:each="author : ${authors}" th:value="${author.getId()}" th:text="${author.getName()}"></option>
    </select>
    <a th:href="@{/authors/new}">Добавить</a>
    <br>

    <label for="year">Год выпуска: </label>
    <input id="year" type="number" th:field="*{yearPublication}"><br>
    <div style="color:red" th:if="${#fields.hasErrors('yearPublication')}" th:errors="*{yearPublication}">Error</div>

    <label for="price">Цена в сутки: </label>
    <input id="price" type="number" th:field="*{pricePerDay}"><br>
    <div style="color:red" th:if="${#fields.hasErrors('pricePerDay')}" th:errors="*{pricePerDay}">Error</div>

    <label for="amount">Общее количество книг в библиотеке: </label>
    <input id="amount" type="number" th:field="*{amount}"><br>
    <div style="color:red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Error</div>

    <input type="submit" value="Добавить!">
    <!--    isbn, title, [author], year, amount-->
</form>

</body>
</html>